@import "../colors";

.login {
  .input {
    margin-bottom: 8px;
  }

  .buttons {
    margin-bottom: 16px;

    .button + .button {
      margin-left: 16px;
    }
  }

  .error {
    font-size: 14px;
    height: 20px;
    color: $mat-warn;
    margin-bottom: 8px;
  }
}