/* You can add global styles to this file, and also import other style files */
@import "~src/shared/styles/colors";

html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $grey-1;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
