<div class="gallery">
  <div class="filters" *ngIf="(parameters$ | async)">
    <button class="filter-button" mat-raised-button [matMenuTriggerFor]="genresPopup"
            [matBadge]="this.filteredGenres.length" [matBadgeHidden]="this.filteredGenres.length === 0"
            [matBadgeColor]="'accent'">
      Genres
    </button>
    <button class="filter-button" mat-raised-button [matMenuTriggerFor]="sizesPopup" [matBadge]="'!'"
            [matBadgeColor]="'accent'"
            [matBadgeHidden]="!(this.filteredWidth.value1 || this.filteredWidth.value2 || this.filteredHeight.value1 || this.filteredHeight.value2)">
      Sizes
    </button>
    <button class="filter-button" mat-raised-button [matMenuTriggerFor]="pricePopup" [matBadge]="'!'"
            [matBadgeHidden]="!(this.filteredPrice.value1 || this.filteredPrice.value2)" [matBadgeColor]="'accent'">
      Price
    </button>
    <button class="filter-button" mat-button (click)="refresh()">
      <span>Apply</span>
    </button>
    <button class="filter-button" mat-button (click)="clearFilters()">
      <span>Clear</span>
    </button>
    <mat-menu #genresPopup>
      <div class="filter-popup" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <app-checkbox-group
          [vertical]="true"
          [selectedItems]="filteredGenres"
          [items]="genres"
          (changeEvent)="setFilteredGenres($event)">
        </app-checkbox-group>
      </div>
    </mat-menu>
    <mat-menu #sizesPopup>
      <div class="filter-popup" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <app-range
          [name]="'Width'"
          [placeholder1]="'from ' + (parameters$ | async).minWidth + 'cm'"
          [placeholder2]="'to ' + (parameters$ | async).maxWidth + 'cm'"
          [value]="filteredWidth"
          (changeEvent)="setFilteredWidth($event)">
        </app-range>
        <app-range
          [name]="'Height'"
          [placeholder1]="'from ' + (parameters$ | async).minHeight + 'cm'"
          [placeholder2]="'to ' + (parameters$ | async).maxHeight + 'cm'"
          [value]="filteredHeight"
          (changeEvent)="setFilteredHeight($event)">
        </app-range>
      </div>
    </mat-menu>
    <mat-menu #pricePopup>
      <div class="filter-popup" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <app-range
          [name]="'Price'"
          [placeholder1]="'from ' + (parameters$ | async).minPrice + ' BYN'"
          [placeholder2]="'to ' + (parameters$ | async).maxPrice + ' BYN'"
          [value]="filteredPrice"
          (changeEvent)="setFilteredPrice($event)">
        </app-range>
      </div>
    </mat-menu>
  </div>
  <div class="items">
    <div class="item" *ngFor="let item of (paintings$ | async)">
      <app-painting-card [painting]="item"></app-painting-card>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator
      [length]="(count$ | async)"
      [pageSize]="limit"
      [pageSizeOptions]="[6, 12, 18]"
      (page)="changePageOrLimit($event)">
    </mat-paginator>
  </div>
</div>
