<div class="gallery">
  <div class="filters">
    <button mat-raised-button [matMenuTriggerFor]="menu">
      {{this.selectedGenres.length > 0 ? 'Genres (' + this.selectedGenres.length + ')' : 'Genres'}}
    </button>
    <mat-menu #menu="matMenu">
      <div class="filter-popup" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <app-checkbox-group
          [vertical]="true"
          [selectedItems]="selectedGenres"
          [items]="genres"
          (changeEvent)="selectGenres($event)">
        </app-checkbox-group>
      </div>
    </mat-menu>
    <button mat-menu-item (click)="refresh()">
      <span>Apply</span>
    </button>
  </div>
  <div class="items">
    <div class="item" *ngFor="let item of paintings">
      <app-painting-card [painting]="item"></app-painting-card>
    </div>
  </div>
</div>
