<div class="painting-adding">
  <form class="form" [formGroup]="form">

    <app-image-uploader
      [fileSrcs]="[]"
      [multiUpload]="true"
      (onUpload)="setImages($event)"
      (onDelete)="deleteImages()"
    >
    </app-image-uploader>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name"/>
      <mat-error>{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Author" formControlName="author"/>
      <mat-error>{{getErrorMessage('author')}}</mat-error>
    </mat-form-field>

    <app-checkbox-group [items]="genres" (changeEvent)="setGenres($event)"></app-checkbox-group>

    <mat-form-field>
      <input matInput type="number" min="0" max="2147483647" (keyup)="checkNumberFormat($event, 'height')" (keypress)="checkInteger($event)" placeholder="Height (cm)" formControlName="height"/>
      <mat-error>{{getErrorMessage('height')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="0" max="2147483647" (keyup)="checkNumberFormat($event, 'width')" (keypress)="checkInteger($event)" placeholder="Width (cm)" formControlName="width"/>
      <mat-error>{{getErrorMessage('width')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="0" max="2147483647" (keyup)="checkNumberFormat($event, 'price')"  placeholder="Price (BYN)" formControlName="price"/>
      <mat-error>{{getErrorMessage('price')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea  style="min-height: 80px"  matInput cdkTextareaAutosize placeholder="Description" formControlName="description" maxlength="500"></textarea>
      <mat-error>{{getErrorMessage('description')}}</mat-error>
    </mat-form-field>

  </form>
  <button class="submit" mat-flat-button color="primary" (click)="submit()">Submit</button>

</div>
