
.painting-adding {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .form {
    display: flex;
    flex-direction: column;
  }

  .submit {
    align-self: center;
    margin-top: 30px;
    width: 100%;
    max-width: 200px;
  }
}
