
.range {
  margin-bottom: 1.25em;

  .title {
    color: rgba(0, 0, 0, .54);
    font-size: 11px;
  }

  &-row {
    display: flex;
    align-items: baseline;
  }

  .separator {
    margin: 0 8px;
  }
}
