
.contacts {

  .info {
    display: flex;
    justify-content: space-evenly;

    .contact {
      font-size: 18px;
      margin-top: 16px;
      display: flex;

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  .map {
    width: 100%;
    height: calc(100vh - 120px - 40px);
  }
}

