@import "~src/shared/styles/colors";
@import "~src/shared/styles/variables";

.header {
  background-color: $mat-primary;
  color: $white;
  padding: 0 16px;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;

  &__content {
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
    }

    .logo {
      font-size: 27px;
      font-weight: 300;
      letter-spacing: 0.05em;
      cursor: pointer;
      display: flex;
      align-items: center;

      .icon {
        background-image: url("src/assets/img/logo.svg");
        width: 48px;
        min-width: 48px;
        height: 48px;
        background-size: 48px;
        margin-right: 16px;
      }
    }

    .navigation-item {
      margin-left: 32px;
      cursor: pointer;
      position: relative;
      text-transform: uppercase;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        bottom: -6px;
        border-top: 2px solid $white;
      }

      &.selected, &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
