

.gallery {
  display: flex;
  flex-direction: column;

  .filters {
    display: flex;
    margin-bottom: 16px;

    .filter-button + .filter-button {
      margin-left: 32px;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      width: 300px;
      margin: 10px;
    }
  }

  .paginator {
    display: flex;
    align-self: center;
    margin-top: 16px;
  }
}