<div class="user">
  <form class="form" *ngIf="user" [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName"/>
      <mat-error>{{getErrorMessage('firstName', 'first name')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName"/>
      <mat-error>{{getErrorMessage('lastName', 'last name')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone number" formControlName="phone"/>
      <mat-error>{{getErrorMessage('phone')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email"/>
      <mat-error>{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hidePassword1 ? 'password' : 'text'" matInput placeholder="Password"
             formControlName="password"/>
      <button tabindex="-1" mat-icon-button matSuffix (click)="hidePassword1 = !hidePassword1">
        <mat-icon>{{hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hidePassword2 ? 'password' : 'text'" matInput placeholder="Confirm password"
             formControlName="confirm"/>
      <button tabindex="-1" mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2">
        <mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>{{getErrorMessage('confirm', 'email confirmation')}}</mat-error>
    </mat-form-field>


  </form>
  <button class="submit" mat-flat-button color="primary" (click)="submit()">Submit</button>

</div>
