/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import "~src/shared/styles/colors";
@import '~@angular/material/theming';

@include mat.core();
$candy-app-primary: mat.define-palette($mat-primary-palette);
$candy-app-accent: mat.define-palette($mat-accent-palette);
$candy-app-warn: mat.define-palette($mat-warn-palette);

$app-theme: mat.define-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include mat.all-component-themes($app-theme);

html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white;
}

div:focus, button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.mat-form-field-infix {
  width: initial !important;
}
