@import "~src/shared/styles/colors";

.playground {
  position: relative;

  .black {
    height: 200px;
    background-color: black;
  }

  .white {
    height: 200px;
    background-color: white;
  }

  .blended-text {
    position: fixed;
    transform: rotateZ(-90deg) translateX(-100%) translateY(-25px);
    top: 25px;
    mix-blend-mode: difference;
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    left: 0;
  }
}
