$black: #000;
$white: #fff;
$mat-primary: #4100f5;
$mat-accent: #17E78C;
$mat-warn: #FF4633;
$overlay-1: rgba(0, 0, 0, .03);
$pink: #FFCDD2;

$mat-primary-palette: (
  50 : #e8e0fe,
  100 : #c6b3fc,
  200 : #a080fa,
  300 : #7a4df8,
  400 : #5e26f7,
  500 : #4100f5,
  600 : #3b00f4,
  700 : #3200f2,
  800 : #2a00f0,
  900 : #1c00ee,
  A100 : #ffffff,
  A200 : #e3e1ff,
  A400 : #b4aeff,
  A700 : #9c95ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-accent-palette: (
  50 : #e3fcf1,
  100 : #b9f8dd,
  200 : #8bf3c6,
  300 : #5deeaf,
  400 : #3aeb9d,
  500 : #17e78c,
  600 : #14e484,
  700 : #11e079,
  800 : #0ddd6f,
  900 : #07d75c,
  A100 : #ffffff,
  A200 : #cdffdf,
  A400 : #9affbe,
  A700 : #80ffae,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-warn-palette: (
  50 : #ffe9e7,
  100 : #ffc8c2,
  200 : #ffa399,
  300 : #ff7e70,
  400 : #ff6252,
  500 : #ff4633,
  600 : #ff3f2e,
  700 : #ff3727,
  800 : #ff2f20,
  900 : #ff2014,
  A100 : #ffffff,
  A200 : #fffbfb,
  A400 : #ffcac8,
  A700 : #ffb1ae,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
