@import 'styles/colors';

html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited, &:active {
    color: inherit;
  }
}

.side-padding-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.vertical-padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}