@import 'styles/colors';

html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited, &:active {
    color: inherit;
  }
}

.popper-content {
  padding: 0 8px;
}